@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-bg: rgba(0, 0, 0, .9);
    --light-dark-bg: rgba(100, 100, 100, .3);
    --white-text-font: rgba(255, 255, 255, .7);
    --plus-light-dark-bg: rgba(70, 70, 70, .3);
    --link-hover: rgb(51, 162, 255);
    --table-second-row-background: rgb(42, 42, 42);
    --dark-green-text: rgb(6, 161, 143);
    --dark-orange-text: rgb(173, 132, 28);
    --dark-red-text: rgb(185, 46, 74);
}

body {
    background-color: var(--dark-bg);
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
}

.navbar-container {
    width: 70%;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: auto;
}

header {
    width: 100%;
    background-color: var(--plus-light-dark-bg);
    box-shadow: 0px 1.5px 2.5px 0px rgba(0, 0, 0, .4);
}

ul {
    list-style-type: none;
}

.logo-container img {
    height: 20px;
}

nav {
    flex: 0 0 550px;
}

nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a, a:visited, a:hover, a:active, a:link {
    text-decoration: none;
    font-weight: normal;
    color: var(--white-text-font);
}


.nav-notification-container {
    display: flex;
    clear: right;
    flex: 0 1 250px;
    justify-content: space-between;
    align-items: center;
}

.nav-notification-container img {
    width: 25px;
}

.premium-button {
    padding: 9px 13px;
    border-radius: 6px;
    color: rgb(228, 164, 34);
    background-color: var(--light-dark-bg);
    border: none;
    font-size: .85rem;
}

.fire-link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.fire-link span {
    color: var(--white-text-font);
}

.main-content-container {
    width: 70%;
    margin: 100px auto;
}


.problems-container {
    width: 80%;
    margin: auto;
}

.category-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.2em;
}

.category-container div a:hover, .category-container div a:active, .category-container div a:link {
    color: var(--link-hover);
}

.category-container div a {
    font-size: .98rem;
}

.category-container div a span {
    background-color: var(--light-dark-bg);
    border-radius: 15px;
    padding: 2px 3px;
    font-size: .8rem;
    color: var(--white-text-font);
}

.problems-table-container {
    width: 100%;
    color: white;
    margin-top: 25px;
}

.table-content-container {
    display: grid;
    width: 100%;
    grid-template-columns: .5fr 1.5fr 1fr;
    gap: 2em;
    padding: 10px 0;
    border-radius: 1px;
    max-height: 40px;
    overflow: hidden;
}

.second-row {
    background-color: var(--table-second-row-background);
}

.difficulty-hard {
    color: var(--dark-red-text);
}

.difficulty-easy {
    color: var(--dark-green-text);
}

.difficulty-medium {
    color: var(--dark-orange-text);
}


.problem-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%; 
}

.problem-title a {
    color: white;
    transition: all .2s cubic-bezier(.7,.09,.23,.85);
}

.problem-title a:hover {
    color: var(--link-hover);
}